<div class="row slider-container card-information__wrapper">
{% comment %} 	<a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">{{ "accessibility.skip_to_product_info" | t }}</a> {% endcomment %}
	<div class="col-md-12">
		<slider-component class="slider-wrapper">
			<ul class="product-slider-box slider" role="list">
			{%- assign variant_images = product.images| where: 'attached_to_variant?', true | map: 'src' -%}
			{%- for media in product.media -%}
				<li class="product-slider slider__slide" onclick="newLargeImage(this)" data-thumb-id="{{ section.id }}-{{ media.id }}"
				{% if section.settings.hide_variants and variant_images contains media.src %}style="display: none;"{% endif %} >
				{% if media.media_type == 'video' %}
					<div class="video-btn" style="display: block" >
						<span class="product__media-icon motion-reduce v-btn" aria-hidden="true">
						{%- liquid
							case media.media_type
								when 'video' or 'external_video'
									render 'icon-play'
								when 'model'
									render 'icon-3d-model'
								else
									render 'icon-zoom'
							endcase
						-%}
						</span>
						<img class="slide-image {% if forloop.first %}active-thumb {% endif %}"
							src="{{ media.preview_image | img_url: 'large' }}"
							alt="{{ media.alt}}"
							{% if section.settings.square_image == true %} style="aspect-ratio: 1;" {% endif %}>
					</div>
				{% else %}
					<img class="slide-image {% if forloop.first %}active-thumb {% endif %}"
						src="{{ media.preview_image | img_url: 'large' }}"
						alt="{{ media.alt }}"
						{% if section.settings.square_image == true %}style="aspect-ratio: 1;" {% endif %}>
				{% endif %}
				</li>
			{% endfor %}
			</ul>
			<div class="button-wrapper {% if product.media.size < 3 %}hidden{% endif %}" >
				<button type="button" class="slider-button slider-button--prev bigger-slider" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
				<button type="button" class="slider-button slider-button--next bigger-slider" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
			</div>
		</slider-component>
	</div>
	<div class="col-md-12">
		<ul class="large-image" id="large-image" data-scale="1"> 
		{%- for media in product.media -%}
			<li class="large-image-item product__media-item grid__item slider__slide
			{% if media.media_type != 'image' %} hide-modal {% endif %}"
			data-media-id="{{ section.id }}-{{ media.id }}"
			data-background="zoom-image">
			{% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
			</li>
		{%- endfor -%}
		</ul>
	</div>
</div>
