      <slider-component class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        


          <ul class="row gallery-wrapper">
            
			<!-- loop portrait images in product.images -->
            {% for image in product.images %}
            {% if image.aspect_ratio < 1 %}
            <li class="col-12 col-md-6 mb-4">
				<div class="round-corners">
                	<img class="img-fluid" data-image-group="{{ image.alt }}" src='{{ image.src | product_img_url: '1024x1024' }}' alt="{{ image.alt }}" data-target="{{ image.id }}">
				</div>
            </li>
            {% endif %}
            {% endfor %}
          
			<!-- add video if in product.media -->
            {% for media in product.media %}
              {% if media.media_type=='video' %}
                {% for source in media.sources %}
                  {% if source.format == "mp4" %}
            <li class="col-12 col-md-6 mb-4">
				<div class="round-corners">
            		<video style="max-width: 100%;" muted autoplay playsinline loop>
    					<source src="{{source.url}}" type="video/mp4"></source>
            		</video>
				</div>
            </li>
                  {% endif %}
                {% endfor%}
              {% endif %}
            {% endfor %}
            
			<!-- loop landscape images in product.images -->
            {% for image in product.images %}
            {% if image.aspect_ratio >= 1 %}
            <li class="col-12 mb-4">
				<div class="round-corners">
                	<img class="img-fluid" src='{{ image.src | product_img_url: '1024x1024' }}' alt="{{ image.alt }}" data-target="{{ image.id }}">
				</div>
            </li>
            {% endif %}
            {% endfor %}

          </ul>

        <div class="slider-buttons no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{% if section.settings.hide_variants %}{{ product.media.size | minus: variant_images.size | plus: 1 }}{% else %}{{ product.media.size }}{% endif %}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
		
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
