{{ 'LPS-section-product-details.css' | asset_url | stylesheet_tag }}
  
<!-- additional feature row -->

<div id="lps-product-details-{{ section.id }}" class="container-indent wrapper-product-details wrapper-product-feature-row">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col-10 col-md-4">
    
        {% if product.metafields.global.feature-7 %}
        <div class="row mb-5">
          <div class="col-12 col-lg-10"><h5 class="title-feature"><span>Platform</span></h5></div>
          <div class="col-12 col-lg-10 mb-5">
            {% assign file = 'product-binding-platform-' | append: product.metafields.global.feature-7 %}
            {% capture snippet_content %}{% include file %}{% endcapture %}
            {% if snippet_content contains "Liquid error" %}
                {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
            {% else %}              
            {{ snippet_content }}
            {% endif %}
          </div>
        </div>
        {% endif %}
            
        {% if product.metafields.global.feature-8 or product.metafields.global.feature-9 or product.metafields.global.feature-11 or product.metafields.global.feature-12 %}
        <div class="row mb-5">
          <div class="col-12 col-lg-10"><h5 class="title-feature"><span>Straps</span></h5></div>
          <div class="col-12 col-lg-10 mb-5">
            {% if product.metafields.global.feature-8 %}
              {% assign file = 'product-binding-platform-straps-' | append: product.metafields.global.feature-8 %}
              {% capture snippet_content %}{% include file %}{% endcapture %}
              {% if snippet_content contains "Liquid error" %}
                {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
              {% else %}              
              {{ snippet_content }}
              {% endif %}
            {% endif %}
            {% if product.metafields.global.feature-9 %}
              {% assign file = 'product-binding-platform-straps-' | append: product.metafields.global.feature-9 %}
              {% capture snippet_content %}{% include file %}{% endcapture %}
              {% if snippet_content contains "Liquid error" %}
                {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
              {% else %}              
              {{ snippet_content }}
              {% endif %}
            {% endif %}
            
            {% assign contents = '' %}
            {% assign contents = contents | append: product.metafields.global.feature-11 %}
            {% assign contents = contents | append: ',' %}
            {% assign contents = contents | append: product.metafields.global.feature-12 %}
            {% assign contents = contents | split: ',' %}
            {% if contents contains "bombproof-buckles" or contents contains "fast-entry" %}
              {% if contents contains "fast-entry" %}
                {% assign file = 'product-binding-platform-straps-fast-entry' %}
                {% capture snippet_content %}{% include file %}{% endcapture %}
                {% if snippet_content contains "Liquid error" %}
                  {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
                {% else %}              
                {{ snippet_content }}
                {% endif %}
              {% endif %}
              {% if contents contains "bombproof-buckles" %}
                {% assign file = 'product-binding-platform-straps-bombproof-buckles' %}
                {% capture snippet_content %}{% include file %}{% endcapture %}
                {% if snippet_content contains "Liquid error" %}
                  {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
                {% else %}              
                {{ snippet_content }}
                {% endif %}
              {% endif %}
            {% endif %}
            
          </div>
        </div>
        {% endif %}
        

          
      </div>
      <div class="col-10 col-md-4">
 
        {% if product.metafields.global.flex-1 %}
          {% if product.metafields.global.flex-1 == 10 %}
            {% assign val = product.metafields.global.flex-1 %}        
          {% else %}
            {% assign val = product.metafields.global.flex-1 | slice: -1, 1 %}        
          {% endif %}
        <div class="row mb-5">
          <div class="col-12 col-lg-10"><h5 class="title-feature"><span>Riding Style</span></h5></div>
          <div class="col-12 col-lg-10 mb-2">
            <div class="bar-container">
              <div class="bar value-{{ val }}"><span>{{ product.metafields.global.flex-1 }}</span></div>
            </div>
          </div>
          <div class="col-6 col-lg-5 mb-5"><h6>Playful</h6></div>
          <div class="col-6 col-lg-5 mb-5 text-end"><h6>Precise</h6></div>
        </div>
        {% endif %}
            
        
        {% if product.metafields.global.flex-2 %}
        <div class="row mb-5">
          <div class="col-12 col-lg-10"><h5 class="title-feature"><span>Customization</span></h5></div>
          <div class="col-12 col-lg-10 mb-2">
            <div class="bar-container">
              <div class="bar value-{{ product.metafields.global.flex-2 }}"><span>{{ product.metafields.global.flex-2 }}</span></div>
            </div>
          </div>
          <div class="col-6 col-lg-5"><h6>Minimum</h6></div>
          <div class="col-6 col-lg-5 text-end"><h6>Maximum</h6></div>
        </div>
        {% endif %}
        
        {% if product.metafields.global.feature-1 or product.metafields.global.feature-2 or product.metafields.global.feature-3 or product.metafields.global.feature-4 or product.metafields.global.feature-5 or product.metafields.global.feature-6 %}
        <div class="row mb-5">
          <div class="col-12 col-lg-10 mb-5">
                
          {% assign features = '' %}
          {% assign features = features | append: product.metafields.global.feature-1 %}
          {% assign features = features | append: ',' %}
          {% assign features = features | append: product.metafields.global.feature-2 %}
          {% assign features = features | append: ',' %}
          {% assign features = features | append: product.metafields.global.feature-3 %}
          {% assign features = features | append: ',' %}
          {% assign features = features | append: product.metafields.global.feature-4 %}
          {% assign features = features | append: ',' %}
          {% assign features = features | append: product.metafields.global.feature-5 %}
          {% assign features = features | append: ',' %}
          {% assign features = features | append: product.metafields.global.feature-6 %}
          {% assign features = features | split: ',' %}
                    
          {% for feature in features %}
            {% if feature != '' %}
                {% assign file = 'product-binding-feature-' | append: feature %}
                {% capture snippet_content %}{% include file %}{% endcapture %}
                {% if snippet_content contains "Liquid error" %}
                {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
                {% else %}              
                {{ snippet_content }}
                {% endif %}
            {% endif %}
          {% endfor %}
                
          </div>
        </div>
        {% endif %}
        
      </div>
      <div class="col-10 col-md-4">
        
        {% if product.metafields.global.material-1 or product.metafields.global.material-2 or product.metafields.global.material-3 or product.metafields.global.material-4 or product.metafields.global.material-5 or product.metafields.global.feature-10 %}
        <div class="row mb-5">
	        <div class="col-12 col-lg-10"><h5 class="title-feature"><span>Material</span></h5></div>
            <div class="col-12 col-lg-10 mb-5 binding-material-container">
                
            {% assign materials = '' %}
            {% assign materials = materials | append: product.metafields.global.material-1 %}
            {% assign materials = materials | append: ',' %}
            {% assign materials = materials | append: product.metafields.global.material-2 %}
            {% assign materials = materials | append: ',' %}
            {% assign materials = materials | append: product.metafields.global.material-3 %}
            {% assign materials = materials | append: ',' %}
            {% assign materials = materials | append: product.metafields.global.material-4 %}
            {% assign materials = materials | append: ',' %}
            {% assign materials = materials | append: product.metafields.global.material-5 %}
            {% assign materials = materials | split: ',' %}
                      
            {% for material in materials %}
              {% if material != '' %}
                {% assign file = 'product-binding-material-' | append: material %}
                {% capture snippet_content %}{% include file %}{% endcapture %}
                {% if snippet_content contains "Liquid error" %}
                  {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
                {% else %}              
                  {{ snippet_content }}
                {% endif %}
              {% endif %}
            {% endfor %}
              
            {% if product.metafields.global.feature-10 %}
              {% assign file = 'product-binding-tech-icon-' | append: product.metafields.global.feature-10 %}
              {% capture snippet_content %}{% include file %}{% endcapture %}
              {% if snippet_content contains "Liquid error" %}
                {{ '<div class="missing">Missing snippet: ' | append: file  | append: '</div>' }}
              {% else %}              
                {{ snippet_content }}
              {% endif %}
            {% endif %}
            
	        </div>
	      </div>
        {% endif %}
        
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 mb-3 text-center"><h5 class="btn btn-primary"><a style="text-decoration: none;" href="/pages/snowboard-binding-tech-customization">EXPLORE BINDING TECH</a></h5></div>
    </div>
    
  </div>
</div>
<!-- end feature row -->


{% schema %}
{
  "name": "LPS Details Binding",
  "tag": "section",
  "class": "lps-product-details",
  "settings": [
    {
      	"type": "paragraph",
        "content": "Displays features held in product metafields:"
    },
    {
      	"type": "header",
        "content": "Characteristics:"
    },
    {
      	"type": "paragraph",
        "content": "global.rating-1 (Park)"
    },
    {
      	"type": "paragraph",
        "content": "global.rating-5 (Groomers)"
    },
    {
      	"type": "paragraph",
        "content": "global.rating-4 (Pow)"
    },
    {
      	"type": "paragraph",
        "content": "global.flex-1"
    },
    {
      	"type": "paragraph",
        "content": "Float Ratio calculated as an average of all variants global.sizetable-float-ratio"
    },
    {
      	"type": "header",
        "content": "Shape:"
    },
    {
      	"type": "paragraph",
        "content": "global.diagram-shape"
    },
    {
      	"type": "paragraph",
        "content": "global.diagram-profile"
    },
    {
      	"type": "paragraph",
        "content": "global.diagram-layup"
    },
    {
      	"type": "paragraph",
        "content": "global.diagram-3D"
    },
    {
      	"type": "paragraph",
        "content": "global.diagram-nose-tail"
    },
    {
      	"type": "header",
        "content": "Construction:"
    },
    {
      	"type": "paragraph",
        "content": "global.material-1 (to 10)"
    },
    {
      	"type": "header",
        "content": "Features:"
    },
    {
      	"type": "paragraph",
        "content": "global.feature-1 (to 10)"
    }
  ],
  "presets": [
    {
      "name": "LPS Details Binding"
    }
  ]
}
{% endschema %}