<style>

.collection-20th-anniversary {  
	background-color: var(--black);
	color: var(--white);
	background-image: url({{ 'collection-20th-bg.jpg' | asset_img_url: '1200x' }});
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
}
.collection-20th-anniversary h3,
.collection-20th-anniversary p {
	color: var(--white);
}
.title-logo {
	max-height: 6.5em;
	max-width: 100%;
}
.collection-20th-anniversary h2 { font-size: 1em; }

@media (min-width: 750px) {
	.collection-20th-anniversary h2 { font-size: 1.4em; }
}
@media (min-width: 1200px) {
	.collection-20th-anniversary h2 { font-size: 1.8em; }
}
.collection-block-20th-anniversary {
	position: relative;
	background-color: var(--grey);
	background-image: url({{ 'collection-20th-bg-light.jpg' | asset_img_url: '1200x' }});
	background-size: cover;
	background-position: center;
}
.collection-block-20th-anniversary img {
	max-height: 600px;
}
.collection-block-20th-anniversary a {
	text-decoration: none;	
}
.collection-block-20th-anniversary a h4 {
	background-color: var(--black);
	color: var(--white);
}
.collection-20th-anniversary .logo-line {
  position: relative;
  width: 100%;
  height: 5px; 
  background-color: var(--red);
}
.collection-20th-anniversary .logo-line:after { 
	content: '';
  position: absolute;
  bottom: -28px;
  left: 50%;
  width: 36px;
  height: 60px;
  margin-left: -18px;
  background-color: var(--red);
  background-image: url({{ '2223-password-logo-three-stars.jpg' | asset_img_url: '1200x' }});
  background-size: cover;
  background-position: center top;
}
.collection-20th-anniversary .lined-title h2 {
	position: relative;
}
.collection-20th-anniversary .lined-title h2 span {
  font-family: GibsonSemibold, monospace, sans-serif !important;
  position: relative;
  display: block;
  line-height: 1.27em;
  padding: 0 0.2em;
  margin-left: 0.3em;
  background: repeating-linear-gradient(#fff 0.1em, #fff 1.2em, rgba(255,255,255,0) 1.2em, rgba(255,255,255,0) 1.4em);
  z-index: 3;
}
.collection-20th-anniversary .lined-title h2:after {
  display: block;
  content:'';
  position: absolute;
  left: 0;
  /* top: 0.125em;
  bottom: 0.018em; */
  top: 0.1em;
  bottom: 0.08em;
  width: 1em;
  background-color: var(--red);
  z-index: 2;
}

</style>

<div class="collection-20th-anniversary">
	<div class="container py-5">
		<div class="row py-5 justify-content-center">
			<div class="col-11 col-md-10 col-lg-8 py-5">
				
				<div class="logo-line"></div>
				
				<div class="row justify-content-center align-items-center my-5 pt-5">
					<div class="col-3 col-md-2" style="position:relative">
        				<img class="title-logo" src="{{ 'collection-20th-logo.png' | asset_img_url: '600x' }}" alt="20th Anniversary Collection" />
					</div>
					<div class="col-9 col-md-8">
						<div class="lined-title">
							<h2><span>Celebrate 20 years of the Rome<br>Snowboard Design Syndicate<br>with this capsule collection.</span></h2>
						</div>
					</div>
				</div> 
				
				<div class="row justify-content-center my-5 d-none d-md-flex"> <!-- DESKTOP -->
					<div class="col-12 col-md-10">
						<div id="carousel20thAnniversary" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
  						<div class="carousel-inner">
    						<div class="carousel-item active">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-1.jpg' | asset_img_url: '1200x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-2.jpg' | asset_img_url: '1200x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-3.jpg' | asset_img_url: '1200x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-4.jpg' | asset_img_url: '1200x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-5.jpg' | asset_img_url: '1200x' }}" alt="20th Anniversary Collection" />
    						</div>
  						</div>
  						<button class="carousel-control-prev" type="button" data-bs-target="#carousel20thAnniversary" data-bs-slide="prev">
    						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    						<span class="visually-hidden">Previous</span>
  						</button>
  						<button class="carousel-control-next" type="button" data-bs-target="#carousel20thAnniversary" data-bs-slide="next">
    						<span class="carousel-control-next-icon" aria-hidden="true"></span>
    						<span class="visually-hidden">Next</span>
  						</button>
						</div>		
					</div>
				</div>
				<div class="row justify-content-center my-5 d-md-none"> <!-- MOBILE -->
					<div class="col-12 col-md-10">
						<div id="carousel20thAnniversary" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
  						<div class="carousel-inner">
    						<div class="carousel-item active">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-1.jpg' | asset_img_url: '600x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-2.jpg' | asset_img_url: '600x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-3.jpg' | asset_img_url: '600x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-4.jpg' | asset_img_url: '600x' }}" alt="20th Anniversary Collection" />
    						</div>
    						<div class="carousel-item">
        						<img class="img-fluid w-100" src="{{ 'collection-20th-action-5.jpg' | asset_img_url: '600x' }}" alt="20th Anniversary Collection" />
    						</div>
  						</div>
  						<button class="carousel-control-prev" type="button" data-bs-target="#carousel20thAnniversary" data-bs-slide="prev">
    						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    						<span class="visually-hidden">Previous</span>
  						</button>
  						<button class="carousel-control-next" type="button" data-bs-target="#carousel20thAnniversary" data-bs-slide="next">
    						<span class="carousel-control-next-icon" aria-hidden="true"></span>
    						<span class="visually-hidden">Next</span>
  						</button>
						</div>		
					</div>
				</div>
				
				<div class="mt-5 p-5 pe-4" style="background-color: var(--black);border-top: 5px solid var(--red);border-bottom: 5px solid var(--red);">
					<p>As the legend goes, the winter of 2001 was one for the record books. Deep, frozen
days pervaded the calendar as winter held Vermont tightly well into spring.
Perhaps it was a moment of clarity brought by the epic season, but something
was stirring. In May of 2001, an idea was born.</p>
<p>This idea was rooted in disruption, creative collaboration, and taking the divergent
line. It was about letting riders guide the course rather than corporate greed. Like
most great ideas, this one took time, planning, and the right people. In January of
2002, the idea had manifested. The Rome Snowboard Design Syndicate was born
and our ﬁrst collection burst onto the scene.</p>
<p>From that ﬁrst collection on, the opinions and ideas of riders were always in the
driver’s seat. Whether it’s the idea behind a board’s shape, the story behind a
graphic, the act of living out of a board bag for a season, or perhaps even the
late-night debates about what constitutes a proper method; ideas and opinions
like these are what this brand was built on.</p>
<p>The 22/23 collection marks 20 years of this idea being brought to life. 20 years of
Disruption by Design, 20 years of heeding the call, and living in pursuit of the next
great day. 20 years of the idea of keeping snowboarding at the core of every
decision we make.</p>
<p>Join us as we celebrate 20 years of this idea and how it has guided this brand and
thousands of riders around the world.</p>
<p>From 2001 till inﬁnity, thanks for rocking with the Syndicate.</p>
<p>All Ways Down.</p>
				</div>
				
				<div class="row justify-content-center my-5">
					<div class="col-6 col-md-3 my-5">
        				<img class="img-fluid w-100" src="{{ 'collection-20th-logo.png' | asset_img_url: '600x' }}" alt="20th Anniversary Collection Logo" />
					</div>
				</div>
				
				<p class="mt-3">To celebrate the 20th Anniversary of the Rome Snowboard Design Syndicate, we are stoked to re-release one of the most iconic Agent graphics by the Neasden Control Center. The collection also feature the original 390 colorway, a basic hoodie, long sleeve and a cap.</p>
				
				<div class="collection-block-20th-anniversary mt-5 pb-4">
					<div class="row justify-content-around px-5">
						<div class="col-6 col-lg-4 text-center mb-5 align-self-end">
							<a href="/products/rome-agent-20th-anniversary-le-2023-mens-snowboard">
        						<img class="img-fluid my-5" src="{{ 'collection-20th-board-agent.png' | asset_img_url: '500x' }}" alt="Rome 20th Anniversary Collection Agent Snowboard" />
								<h4>20th Anniversary Agent</h4>
							</a>
						</div>
					</div>
					<div class="row justify-content-around px-5">
						<div class="col-6 col-lg-4 text-center mb-5 align-self-end">
							<a href="/products/rome-390-boss-2023-mens-snowboard-bindings?variant=42870258827395">
        						<img class="img-fluid my-5" src="{{ 'collection-20th-binding-boss.png' | asset_img_url: '500x' }}" alt="Rome 20th Anniversary Collection 390 Boss Snowboard" />
								<h4>20th Anniversary 390 Boss</h4>
							</a>
						</div>
					</div>
					<div class="row justify-content-around px-5">
						<div class="col-6 col-lg-4 text-center mb-5 align-self-end">
							<a href="/products/rome-longsleeve-20th-anniversary-apparel-2023">
        						<img class="img-fluid my-5" src="{{ 'collection-20th-apparel-longsleeve.png' | asset_img_url: '500x' }}" alt="Rome 20th Anniversary Collection Longsleeve" />
								<h4>20th Anniversary Longsleeve</h4>
							</a>
						</div>
						<div class="col-6 col-lg-4 text-center mb-5 align-self-end">
							<a href="/products/rome-basic-hoodie-20th-anniversary-apparel-2023">
        						<img class="img-fluid my-5" src="{{ 'collection-20th-apparel-hoody.png' | asset_img_url: '700x' }}" alt="Rome 20th Anniversary Collection Hoody" />
								<h4>20th Anniversary Hoodie</h4>
							</a>
						</div>
					</div>
					<div class="row justify-content-around px-5">
						<div class="col-6 col-lg-4 text-center mb-5 align-self-end">
							<a href="/products/rome-20th-anniversary-cap-2023">
        						<img class="img-fluid my-5" src="{{ 'collection-20th-apparel-cap.png' | asset_img_url: '700x' }}" alt="20th Anniversary Collection Cap" />
								<h4>20th Anniversary Cap</h4>
							</a>
						</div>
					</div>
				</div>
				
				<div class="logo-line"></div>

			</div>
		</div>
	</div>
</div>

  

