{{ 'component-card.css' | asset_url | stylesheet_tag }}

<div class="container-fluid page-tech">
  <div class="container pt-5">
    <div class="row gx-5">
      <div class="col-9 col-md-10">
        <h1>Binding Customization.</h1>
      </div>
      <div class="col-3 col-md-2 text-end">
        <div class="tech-button"><a class="btn next" href="/pages/snowboard-binding-tech-construction">Next</a></div>
      </div>
    </div>

    <div class="row gx-5">
      <div class="col-12">
        <div class="ratio ratio-16x9 mb-5">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q13J784KF6M?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    
    <div class="row gx-5 my-5 overline">
      <div class="col-12">
        <a id="board-tech-hotrods" style="position:absolute; top: -50px;"></a>
        <h2 class="mb-3">PivotMount.</h2>
        <div class="bg-white p-3 pb-1">
          <div class="row">
            <div class="col-12">
              <p> A Rome exclusive binding innovation, PivotMounts are small adjustable pieces that allow riders to move the position of their ankle straps on their boots. The higher up on your boot the ankle strap sits, the more power and turn initiation. The lower the strap goes, the more surfy and tweakable your riding will be.</p>
            </div>
          </div>
        </div>
        <div class="my-5" style="position: relative;outline: 1px solid var(--white);background-color:#2D2A2B;">
          <div class="d-none d-lg-flex " style="position: absolute;top:45%;left:60%;padding-right:4rem;">
            <div>
              <img style="width:50px;" class="me-3 mt-2 mb-5" src="{{ '2223-tech-binding-pivotmount-max-logo.png' | asset_img_url: '500x' }}" />
            </div>
            <p style="flex-grow:1;"">PIVOTMOUNT MAX<br>Provides 8 different strap options per side of the ankle strap, 64 configurations total. Featured on the Black Label, Katana and Cleaver.</p>
          </div>
          <div class="d-none d-lg-flex" style="position: absolute;top:69%;left:60%;padding-right:4rem;">
            <div>
              <img style="width:50px;" class="me-3 mt-2 mb-5" src="{{ '2223-tech-binding-pivotmount-logo.png' | asset_img_url: '500x' }}" />
            </div>
            <p style="flex-grow:1;">PIVOTMOUNT<br>Offers 4 different positions of the ankle strap placement per side of the strap, 16 total configurations are possible. Featured on the Vice and Guild.</p>
          </div>
          <p class="px-3 m-0 text-center pivotmount-label top">MAXIMUM <br class="d-lg-none">RESPONSE</p>
          <p class="px-3 m-0 text-center pivotmount-label middle">NEUTRAL OUT <br class="d-lg-none">OF THE BOX</p>
          <p class="px-3 m-0 text-center pivotmount-label bottom">MAXIMUM <br class="d-lg-none">TWEAK</p>
          <img class="pivotmount-logo-top-right m-3 m-md-5" src="{{ '2223-tech-binding-pivotmount-max-logo.png' | asset_img_url: '500x' }}" />
          <img class="pivotmount-image" class="img-fluid" src="{{ '2223-tech-binding-pivotmount-image.jpg' | asset_img_url: '1200x' }}" />
        </div>
      </div>
      {% comment %} MOBILE ONLY {% endcomment %}
      <div class="col-12 d-lg-none">
        <div class="d-flex mb-4">
          <div>
            <img style="width:50px;" class="me-3 mt-2 mb-5" src="{{ '2223-tech-binding-pivotmount-max-logo.png' | asset_img_url: '500x' }}" />
          </div>
          <p style="flex-grow:1;"">PIVOTMOUNT MAX<br>Provides 8 different strap options per side of the ankle strap, 64 configurations total. Featured on the Black Label, Katana and Cleaver.</p>
        </div>
        <div class="d-flex mb-4">
          <div>
            <img style="width:50px;" class="me-3 mt-2 mb-5" src="{{ '2223-tech-binding-pivotmount-logo.png' | asset_img_url: '500x' }}" />
          </div>
          <p style="flex-grow:1;">PIVOTMOUNT<br>Offers 4 different positions of the ankle strap placement per side of the strap, 16 total configurations are possible. Featured on the Vice and Guild.</p>
        </div>
      </div>
    </div>
    
    <div class="row gx-5 mt-5 overline">
      <div class="col-12 col-md-6 mb-5 d-flex flex-column">
        <a id="board-tech-hotrods" style="position:absolute; top: -50px;"></a>
        <h3 class="mb-3">Highback Rotation.</h3>
        <div style="height:100px;">
          <img style="max-height:100%;" class="py-3" src="{{ '2223-tech-binding-highback-rotation-logo.png' | asset_img_url: '500x' }}" />
        </div>
        <p>Designed so riders can adjust their highbacks to mirror the angle of their heelside edge for maximum power transfer.</p>
      </div>
      <div class="col-12 col-md-6 mb-5 d-flex flex-column">
        <a id="board-tech-hotrods" style="position:absolute; top: -50px;"></a>
        <h3 class="mb-3">Highback Canting.</h3>
        <div style="height:100px;">
          <img style="max-height: 100%;" class="py-3" src="{{ '2223-tech-binding-highback-canting-logo.png' | asset_img_url: '500x' }}" />
        </div>
        <p>Built so that riders can adjust the angle of their highback to mirror the angle of their lower leg for increased connection and stability.</p>
      </div>
      <div class="col-12 col-md-6 mb-5 d-flex flex-column">
        <a id="board-tech-hotrods" style="position:absolute; top: -50px;"></a>
        <h3 class="mb-3">Adjustable Baseplate.</h3>
        <div style="height:100px;">
          <img style="max-height:100%;" class="py-3" src="{{ '2223-tech-binding-adjustable-baseplate-logo.png' | asset_img_url: '500x' }}" />
        </div>
        <p>Developed to help center your boot on the board and help fit a wider range of boot models and sizes.</p>
      </div>
      <div class="col-12 col-md-6 mb-5 d-flex flex-column">
        <a id="board-tech-hotrods" style="position:absolute; top: -50px;"></a>
        <h3 class="mb-3">PowerGraft Highback.</h3>
        <div style="height:80px;margin-bottom:20px;">
          <img style="max-height:100%;" class="pt-5 pb-3" src="{{ '2223-tech-binding-powergraft-logo.png' | asset_img_url: '1000x' }}" />
        </div>
        <p>This industry first design features a PolystrandTM layered composite fiber upper, overmolded into a nylon lower region for next level heelside power, without sacrificing torsional tweakability.</p>
      </div>
    </div>
    
  </div>
</div>

{% include 'tech-page-footer' %}


