<div class="container-fluid page-tech">
  <div class="container pt-5">
    <div class="row gx-5">
      <div class="col-9 col-md-10">
        <h1>Snowboard Materials</h1>
      </div>
      <div class="col-3 col-md-2 text-end">
        <div class="tech-button"><a class="btn next" href="/pages/snowboard-tech-shapes">Next</a></div>
      </div>
    </div>

    <div class="row gx-5">
      <div class="col-12">
        <div class="ratio ratio-16x9 mb-5">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vyMmZeEgYX4?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row gx-5 my-5 overline">
      <div class="col-12">
        <a id="board-tech-hotrods" style="display:block; position:absolute; top: -50px;"></a>
        <h2 class="mb-3">Hot Rods.<span class="ms-md-3">Industry Leading<br>Pop and Response</span></h2>
        <div class="bg-white p-3 pb-1">
          <div class="row">
            <div class="col-9 col-sm-10 col-lg-11">
              <p>Invented by Rome, HotRods are thin rods milled into our boards’ cores starting from the insert pack and extending out towards the nose or tail. Designed to provide next level explosive pop, power and response.</p>
              <p>Responsive boards ride better, plain and simple. We use HotRods to create responsive, lively boards so riders can ollie higher, land deeper and have quicker reactions to whatever they’re riding. Each board model has a different HotRod configuration designed to create a dynamic flex with explosive pop and response.</p>
            </div>
            <div class="col-3 col-sm-2 col-lg-1">
              <img class="img-fluid p-3" src="{{ '2223-tech-board-hotrods-logo.png' | asset_img_url: '500x' }}" />
            </div>
          </div>
        </div>
        <h3 class="my-3">HOTRODS ADD MORE POP TO YOUR RIDE</h3>
      </div>
      <div class="col-12 col-md-4 mt-4">
        <div class="row gx-5">
          <div class="col-4 col-md-3 pt-4">
            <img width="90%" src="{{ '2223-tech-board-hotrods-load.png' | asset_img_url: '500x' }}" />
          </div>
          <div class="col-8 col-md-9 pt-4">
            <h3>Load.</h3>
            <p>When you set-up to ollie or make a quick adjustment, the energy is loaded directly under your boot.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mt-4">
        <div class="row gx-5">
          <div class="col-4 col-md-3 pt-4">
            <img width="90%" src="{{ '2223-tech-board-hotrods-transfer.png' | asset_img_url: '500x' }}" />
          </div>
          <div class="col-8 col-md-9 pt-4">
            <h3>Transfer.</h3>
            <p>As the movement begins, the HotRods react and transfer the loaded energy throughout the board.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mt-4">
        <div class="row gx-5">
          <div class="col-4 col-md-3">
            <img width="90%" src="{{ '2223-tech-board-hotrods-pop.png' | asset_img_url: '500x' }}" />
          </div>
          <div class="col-8 col-md-9 pt-4">
            <h3>Pop.</h3>
            <p>The HotRods spread the energy throughout the board, effectively boosting the motion to create next level pop, power and responsiveness.
              Higher ollies.</p>
            <p>Quicker turns. Hyper-responsive riding. HotRods.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row gx-5 my-5 overline">
      <div class="col-12 col-md-6 mb-5">
        <h2 class="mb-3">Hot Rods.<span class="ms-md-3">Next Level<br>Pop and Response</span></h2>
        <div class="bg-white p-3 pb-1">
          <p>HotRods are used in a variety of configurations to enhance our boards pop and responsiveness. Each configuration compliments the board’s intended riding style and shape by enhancing the responsiveness where needed.</p>
        </div>
        <div class="row gx-5">
          <div class="col-12 col-md-6 py-5">
            <div class="text-center">
              <h4>CARBON HOTROD</h4>
              <img style="width:30%;" src="{{ '2223-tech-board-hotrods-carbon-logo.png' | asset_img_url: '500x' }}" />
              <p class="px-5">Super responsive and powerfully snappy</p>
            </div>
            <img class="img-fluid py-3" src="{{ '2223-tech-board-hotrods-shape-directional-single.png' | asset_img_url: '500x' }}" />
            <p>DIRECTIONAL SINGLE<br>All-mountain stability at speeds and with turn initiation.</p>
            <img class="img-fluid py-3" src="{{ '2223-tech-board-hotrods-shape-directional-double.png' | asset_img_url: '500x' }}" />
            <p>DIRECTIONAL DOUBLE<br>Ollie power, stability exiting turns and reliable back-seat riding.</p>
            <img class="img-fluid py-3" src="{{ '2223-tech-board-hotrods-shape-directional-triple.png' | asset_img_url: '500x' }}" />
            <p>DIRECTIONAL TRIPLE<br>Versatility, reactivity and all-terrain mobility.</p>
          </div>
          <div class="col-12 col-md-6 py-5">
            <div class="text-center">
              <h4>BAMBOO HOTROD</h4>
              <img style="width:30%;" src="{{ '2223-tech-board-hotrods-bamboo-logo.png' | asset_img_url: '500x' }}" />
              <p class="px-5">Pressable and playful with plenty of pop</p>
            </div>
            <img class="img-fluid py-3" src="{{ '2223-tech-board-hotrods-shape-twin-double-v.png' | asset_img_url: '500x' }}" />
            <p>TWIN DOUBLE-V<br>Freestyle oriented responsiveness and maximum ollie power.</p>
            <img class="img-fluid py-3" src="{{ '2223-tech-board-hotrods-shape-twin-single.png' | asset_img_url: '500x' }}" />
            <p>TWIN SINGLE<br>Torsional flexibility, pressable yet reliable all-mountain charging.</p>
            <img class="img-fluid py-3" src="{{ '2223-tech-board-hotrods-shape-twin-double.png' | asset_img_url: '500x' }}" />
            <p>TWIN DOUBLE<br>Stability, versatility and up-hill sure footedness.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <a id="board-tech-omega" style="display:block; position:absolute; top: -50px;"></a>
        <h2 class="mb-3">Omega.<span class="ms-md-3">Unleash the<br>Power of Carbon</span></h2>
        <div class="bg-white p-3 pb-1">
          <p>Omegas are sleeves of carbon that sit around HotRods themselves, built in the shape of an Omega. We use Omega’s to enhance the pop and response of HotRods, think of them as turbo boosters for a board’s flex pattern.</p>
        </div>
        <div class="row gx-5">
          <div class="col-12 col-md-6 pt-5">
            <div class="text-center">
              <h4>CARBON OMEGA HOTROD</h4>
              <img style="width:30%;" src="{{ '2223-tech-board-hotrods-carbon-omega-logo.png' | asset_img_url: '500x' }}" />
            </div>
          </div>
          <div class="col-12 col-md-6 pt-5">
            <div class="text-center">
              <h4>BAMBOO OMEGA HOTROD</h4>
              <img style="width:30%;" src="{{ '2223-tech-board-hotrods-bamboo-omega-logo.png' | asset_img_url: '500x' }}" />
            </div>
          </div>
          <div class="col-12 pb-5">
            <div class="text-center">
              <p class="p-3">Omegas are sheets of carbon wrapped around HotRods for additional snap and response</p>
            </div>
          </div>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-6 col-md-4 text-center">
            <img class="py-5" style="width:80%;" src="{{ '2223-tech-board-hotrods-omega-logo.png' | asset_img_url: '500x' }}" />
          </div>
          <div class="col-12 col-md-8 text-center">
            <img class="img-fluid pb-3" src="{{ '2223-tech-board-hotrods-shapes-omega-carbon.png' | asset_img_url: '800x' }}" />
            <p>Omega carbon sheets are added to the existing HotRod configurations for even more pop and response</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row gx-5 my-5 overline">
      <div class="col-12 mb-5">
        <a id="board-tech-flax" style="display:block; position:absolute; top: -50px;"></a>
        <h2 class="mb-3"><span class="new-new-new-tech-icon"></span>Flax.<span class="ms-md-3">The Lightweight<br>Super Fibre</span></h2>
        <div class="bg-white p-3 pb-1">
          <p>Flax is a natural, incredibly versatile, lightweight textile material that we use in our boards. Depending how the flax material is used, it has advanced impact absorption properties or the ability to create rigidity and strengthen specific regions of a board.</p>
          <p>Flaximum power baby!.</p>
        </div>
      </div>

      <div class="col-12 mb-5">
        <div class="ratio ratio-16x9 mb-5">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yz6mY-FAhVg?rel=0" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="col-12 col-md-6 mb-5">
        <a id="board-tech-walls-flax" style="display:block; position:absolute; top: -50px;"></a>
        <h3 class="my-3">FLAX WALLS</h3>
        <div class="row gx-5 justify-content-center">
          <div class="col-4 py-5">
            <img class="img-fluid" src="{{ '2223-tech-board-flaxwalls-shapes.png' | asset_img_url: '800x' }}" />
          </div>
          <div class="col-8 pt-5">
            <img class="pt-3 pb-5" style="width: 150px;" src="{{ '2223-tech-board-flaxwalls-logo.png' | asset_img_url: '600x' }}" />
            <p>New for this season Flax Walls are an I-Beam shaped sidewall reinforcement. This natural, low-density material has advanced strengthening properties. When used in a vertical arrangement between the core and sidewall Flax Walls create rigidity and stability. We use strategic mapping to inlay Flax Walls on directional boards to utilize these benefits.</p>
          </div>
          <div class="col-10 col-8 pb-5">
            <div style="position: relative;">
              <img class="img-fluid pb-5" src="{{ '2223-tech-board-flaxwalls-diagram.png' | asset_img_url: '1000x' }}" />
              <span style="position: absolute;left: 5%;top:93%;">CORE</span>
              <span style="position: absolute;left: 33%;top:82%;color: var(--red);">FLAX WALLS</span>
              <span style="position: absolute;left: 55%;top:65%;">SIDEWALL</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <h3 class="my-3">FLAX IMPACT PLATES</h3>
        <div class="row gx-5 justify-content-center">
          <div class="col-4 col-md-2 py-5">
            <img class="img-fluid" src="{{ '2223-tech-board-flax-impact-shapes.png' | asset_img_url: '800x' }}" />
          </div>
          <div class="col-8 col-md-10 pt-5">
            <img class="pt-3 pb-5" style="width: 150px;" src="{{ '2223-tech-board-flax-impact-logo.png' | asset_img_url: '600x' }}" />
            <p>New for this season we overhauled our industry leading Impact Plates. Now with a full woven flax construction and
a new shape that covers and reinforces the insert pack. Flax Impact Plates are designed to make boards more durable. Flax Impact Plates help absorb impact and add increased strength without changing the board’s flex pattern.</p>
          </div>
          <div class="col-10 col-8 pb-5">
            <div style="position: relative;">
              <img class="img-fluid pb-5" src="{{ '2223-tech-board-flax-impact-diagram.png' | asset_img_url: '1000x' }}" />
              <span style="position: absolute;left: 44%;top:23%;">TOPSHEET</span>
              <span style="position: absolute;left: 5%;top:18%;line-height:1.2;color: var(--red);">FLAX<br>IMPACT<br>PLATE</span>
              <span style="position: absolute;left: 39%;top:93%;">CORE&nbsp;&nbsp;&nbsp;&nbsp;SIDEWALL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row gx-5 my-5 overline">
      <div class="col-12 mb-5">
        <a id="board-tech-hotrods" style="display:block; position:absolute; top: -50px;"></a>
        <h2 class="mb-0">Materials.</h2>
        <div class="row gx-5">
          <div class="col-12 col-sm-6 col-lg-4 py-5">
            <h3 class="my-3">BASE</h3>
            <p>All of our boards are made with Isosport base materials, the industry leader and known innovator for high performance, durable bases.</p>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-base-sinterspeed.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>SINTERSPEED BASE</h4>
                <p class="m-0">Our premium sintered base, built for high performance and high speed.</p>
             </div>
            </div>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-base-sinterstrong.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>SINTERSTRONG BASE</h4>
                <p class="m-0">Our versatile, low-maintenance, ride-it-all sintered base.</p>
             </div>
            </div>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-base-powerslide.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>POWERSLIDE BASE</h4>
                <p class="m-0">Our high-end, durable, ‘faster than you’d expect’ extruded base.</p>
             </div>
            </div>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-base-impact.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>IMPACT BASE</h4>
                <p class="m-0">The best extruded base on the market, durable, fast as hell and easy to fix.</p>
             </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 py-5">
            <h3 class="my-3">CORE</h3>
            <p class="d-none d-md-block" style="color: var(--black);">All of our boards are made with Isosport base materials, the industry leader and known innovator for high performance, durable bases.</p>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-core-superpop.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>SUPERPOP CORE</h4>
                <p class="m-0">Our lightest and most responsive core, built with alternating strips of 10mm wide Poplar and 20mm wide Paulownia.</p>
             </div>
            </div>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-core-pop.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>POP CORE</h4>
                <p class="m-0">Our most versatile and durable core, built with alternating strips of 20mm wide Poplar and 20mm wide Paulownia.</p>
             </div>
            </div>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-core-stomp.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>STOMP CORE</h4>
                <p class="m-0">Our most stable and predictable core, built with 100% Poplar construction.</p>
             </div>
            </div>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-core-minishred.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>MINISHRED CORE</h4>
                <p class="m-0">Built to be the lightest and snappiest youth core, built with 100% Paulownia wood.</p>
             </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 py-5">
            <h3 class="my-3">GLASS LAMINATE</h3>
            <p class="d-none d-md-block" style="color: var(--black);">All of our boards are made with Isosport base materials, the industry leader and known innovator for high performance, durable bases.</p>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-glass-biax.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>BIAX GLASS LAMINATE</h4>
                <p class="m-0">Fiberglass with two different axes, built to be more torsionally playful and pressable.</p>
             </div>
            </div>
            <div class="row gx-5 my-5 d-flex align-items-center">
             <div class="col-4">
              <img class="img-fluid" src="{{ '2223-tech-board-glass-triax.png' | asset_img_url: '600x' }}" />
             </div>
             <div class="col-8">
                <h4>TRIAX GLASS LAMINATE</h4>
                <p class="m-0">Fiberglass running in three different axes, built for torsional rigidity and added snap.</p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% include 'tech-page-footer' %}

